@using CompanyPanelUI.Models.DemandReplyViewModel
@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity

@inject UserManager<CustomUser> UserManager
@using CompanyPanelUI.Models.UserListViewModel

@model DemandReplyViewModel

@{
    ViewData["Title"] = "DemandAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="col-md-12">
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                      @foreach(var item in Model.DemandAndAnswerWmList)
                    {
                    <h3 class="card-title">Talep No: @item.DemandId | @item.DemandTitle</h3>
                    }
                  </div>
                  <!-- /.card-header -->
                     
                  <div class="card-body" style="height: 400px; overflow-y: scroll; padding: 15px;">
                    
                    @foreach (var item in Model.DemandAndAnswerWmList)
                    {
                      <!-- Conversations are loaded here -->
                      <div class="direct-chat-danger">
                        <!-- Message. Default to the left -->
                        <div class="green">
                          <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">@item.UserName</span>
                            <span class="direct-chat-timestamp float-right">@(((DateTime) item.DemantCreateDate).ToString("dd.MM.yyyy"))</span>
                          </div>
                          <img class="direct-chat-img" src="~/dist/img/avatar5.png" alt="message user image">
                          <div class="direct-chat-text">
                            @Html.Raw(item.DemandContent)
                          </div>
                          <!-- /.direct-chat-text -->
                        </div>
                      </div>


                      if (item.DemandAnswer != null)
                      {
                        foreach (var demandChat in item.DemandAnswer)
                        {
                          if (demandChat.DemandAnswerType == 1)
                          {
                            <div class="direct-chat-msg">
                              <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">@item.UserName</span>
                                <span class="direct-chat-timestamp float-right">@(((DateTime) demandChat.DemandAnswerDate).ToString("dd.MM.yyyy"))</span>
                              </div>
                              <img class="direct-chat-img" src="~/dist/img/avatar5.png" alt="message user image">
                              <div class="direct-chat-text">
                                @demandChat.Answer
                              </div>
                              <!-- /.direct-chat-text -->
                            </div>
                          }
                          else if (demandChat.DemandAnswerType == 2)
                          {
                            <div class="direct-chat-msg right">
                              <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-right">Sistem Yöneticisi</span>
                                <span class="direct-chat-timestamp float-left">@(((DateTime) demandChat.DemandAnswerDate).ToString("dd.MM.yyyy"))</span>
                              </div>
                              <img class="direct-chat-img" src="~/dist/img/avatar4.png" alt="message user image">
                              <div class="direct-chat-text">
                                @demandChat.Answer
                              </div>
                              <!-- /.direct-chat-text -->
                            </div>
                          }

                        }

                      }
                    }
                  </div>
                
                <!-- /.card-body -->
                    
                    @foreach (var item in Model.DemandAndAnswerWmList)
        {
            
        
        }
                  <div class="card-footer">
                    <form asp-action="DemandAnswerUser" method="post" asp-controller="Admin">
                      <div class="input-group">
                    <input type="text" name="DemandAnswerNew" asp-for="DemandAnswerNew" class="form-control" id="DemandAnswerNew"  placeholder="Cevap yaz..">
                    <input type="hidden" name="DemandIdNew" asp-for="DemandIdNew" value="@ViewBag.id" />
                        <span class="input-group-append">
                          <button type="submit" class="btn btn-warning">Talep Yanıtla</button>
                        </span>
                      </div>
                    </form>
                  </div>

                  <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
              </div>
              
               <br />

<div class="card-body">
    <div class="card-header">
                     
                    <h3 class="card-title">Dosyalar</h3>
                   
                  </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Dosya Adı</th>
                      <th>Dosyayı İndir</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                        @foreach(var item in Model.DemandAndAnswerWmList)
                    {
                    foreach(var itemL in item.DemandFilePath)
                    {
                        <tr>
                        <td>@itemL.DemandFilePath</td>
                        
                        <td>
                            <a href="~/DemandFiles/@itemL.DemandFilePath" download><span class="badge bg-danger">Dosyayı İndir</span></a>
                              
                        </td>
                        </tr>
                    }
                }
                  </tbody>
                </table>
              </div>
             