@using CompanyPanelUI.Models.DemandReplyViewModel
@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity

@inject UserManager<CustomUser> UserManager
@using CompanyPanelUI.Models.UserListViewModel

@{
    ViewData["Title"] = "GoDemandChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div class="col-md-12">
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                      @foreach(var item in Model.DemandAndAnswerWmList)
                    {
                    <h3 class="card-title">Talep No: @item.DemandId | @item.DemandTitle</h3>
                    }
                  </div>
                  <!-- /.card-header -->
                          @foreach(var item in Model.DemandAndAnswerWmList)
                    {
                        <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">@item.UserName</span>
                      <span class="direct-chat-timestamp float-left">@item.DemandAnswerDate</span>
                    </div>
                    <div class="direct-chat-text">
                      @item.DemandContent
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>

                 

            if(item.DemandAnswer!=null)
            {
                <div class="card-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left">Sistem Yöneticisi</span>
                          <span class="direct-chat-timestamp float-right">@item.DemandAnswerDate</span>
                        </div>
                        
                        <div class="direct-chat-text">
                          @item.DemandAnswer
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                    </div>
            </div>

            }


                
                <!-- /.card-body -->
                    }
                    @foreach (var item in Model.DemandAndAnswerWmList)
        {
            
        <!--/.direct-chat-messages-->
        }
                  

                  <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
              </div>

             
              <br />

<div class="card-body">
    <div class="card-header">
                     
                    <h3 class="card-title">Dosyalar</h3>
                   
                  </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Dosya Adı</th>
                      <th>Dosyayı İndir</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                        @foreach(var item in Model.DemandAndAnswerWmList)
                    {
                    foreach(var itemL in item.DemandFilePath)
                    {
                        <tr>
                        <td>@itemL.DemandFilePath</td>
                        
                        <td>
                            <a href="~/DemandFiles/@itemL.DemandFilePath" download><span class="badge bg-danger">Dosyayı İndir</span></a>
                              
                        </td>
                        </tr>
                    }
                }
                  </tbody>
                </table>
              </div>
             